 /*=================================================================
========================= VARIABLES ================================
=================================================================
 */
 :root {
    --bordeau : #691E22;
    --or : #D9912B;
    --crimson : #3D0A01;
    --bcasse : #FAE3D3;
    --blanc : #F8EFEC;
    --rufina1 : ;
    --rufina2 : ;
    --oxygen1 : ;
    --oxygen2 : ;
}
 /*=================================================================
========================= GENERAL ================================
=================================================================
 */
*{  margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    height: 100%;
}

a{  color: var(--blanc);
    text-decoration: none;
    font-family: var(--font);
    font-weight: 100;
}
 /*=================================================================
========================= HEADER ================================
=================================================================
 */

#openBtn{
    display: none;
}

.sidenav{
    display: none;
}
                
header {
    z-index: 2;
    display: flex;
    background-image: url("../img/fond.png");
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    position: sticky;
}

.logoNav{
    margin-left: 25px;
    margin-top: 15px;
}

.logoNav img{
    height: 30px;
}

nav{
    margin-top: 15px;
    margin: auto;
    font-size:  20PX;
}

nav a{
    margin-right: 15px;
    margin-left: 15px;
    transition: all 0.2s;
}

nav a:hover{
    color: var(--or);
}

.user{
    margin-top: 19px;
    margin-right: 20px; 
    color: var(--or);
    z-index: 1000;
}

i{
    transition: all 0.2s;
}

i:hover{
    color: var(--or);
}

.user-menu {
    display: block;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: -300px;
    background-color: rgba(61, 10, 1,0.8);
    margin-top: 60px;
    transition: right 0.5s ease;
    overflow-y: auto;
}

.user-menu.active {
    right: 0;
}

 /*=========================MAIN PAGE========================================
========================= HOME ================================
=================================================================
 */

.citation{
    color: var(--blanc);
    background-image: url(../img/fond.png);
    background-size: cover;
    font-family: var(--font);
    font-weight: 300;
    text-align: center;
    font-size: 50PX;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
}

 /*=================================================================
========================= SERVICES ================================
=================================================================
 */

.services {
    position: relative;
    display: flex;
    background-color: var(--crimson);
}

.link1-4{
    overflow:hidden;
    width: 100%;
}

.plus1 {
    position: absolute;
    width: 6vw;
    filter: invert();
    left: 9.6vw;
    top: 37%;
    transition: 0.5s ease;
    opacity: 0;
}

.plus2 {
    position: absolute;
    width: 6vw;
    filter: invert();
    left: 33.5vw;
    top: 37%;
    transition: 0.5s ease;
    opacity: 0;
}

.plus3 {
    position: absolute;
    width: 6vw;
    filter: invert();
    left: 58.5vw;
    top: 37%;
    transition: 0.5s ease;
    opacity: 0;
}

.plus4 {
    position: absolute;
    width: 6vw;
    filter: invert();
    left: 83vw;
    top: 37%;
    transition: 0.5s ease;
    opacity: 0;
}

.link1-4:hover .plus1{
    opacity: 1;
    transform: rotate(90deg);
}

.link1-4:hover .plus2{
    opacity: 1;
    transform: rotate(90deg);
}
.link1-4:hover .plus3{
    opacity: 1;
    transform: rotate(90deg);
}
.link1-4:hover .plus4{
    opacity: 1;
    transform: rotate(90deg);
}

.galerie img{ 
    max-width: 100%;
    height: auto;
}

.img1-4{
    transition: 0.5s ease;
    width: 100%;
}

.link1-4:hover .img1-4{
    transform: scale(1.1);
    opacity: 0.3;
    filter: grayscale(1);
}


 /*=================================================================
========================= CONTACT ================================
=================================================================
 */

.contact{
    color:white;
    background-image: url("../img/parallax2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;
    padding-top: 6%;
    padding-bottom: 7%;
}

.contact p{
    margin-top: 0.5%;
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    
}

.contact h2{
    font-family: var(--font);
    font-weight: 400;
    font-size: 4vw;
    text-align: center;
}

.logos {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.logos-contact {
    display: flex;
    color: grey;
    font-size: 20px;
    height: 50px;
    width: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px grey solid;
    border-radius: 50%;
}

.logos-contact a {
    color: rgb(219, 219, 219);
    display: flex;
    text-decoration: none;
    align-items: center;
}


 /*=================================================================
========================= MAP ================================
=================================================================
 */


.sectionMap{
    position: relative;
}

.map{
    overflow:hidden;
    position:relative;
    height: 50vw;
    background-color: #0e0e0e;
}

.sectionMap img{
    height: auto;
    max-width: 60px;
}

.sectionMap a{
    z-index: 1;
    display: inline-block;
    position: absolute; 
    margin-left: auto; 
    margin-right: auto; 
    left: 49%;
    top: 45%;
}

.map iframe{
    filter: grayscale(1) invert();
    pointer-events: none;
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    mask: linear-gradient(transparent, black, transparent);
}



/* 
=============================VIEW A PROPOS====================================
========================= FEATURES ================================
=================================================================
 */


 #features {
    margin-bottom: 40px;
 }

#features h1 {
    font-family: var(--font);
    font-weight: 300;
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    text-align: justify;
    color: rgb(255, 255, 255);
}

.titre {
    font-family: var(--font);
    font-weight: 300;
    justify-content: center;
    text-align: center;
    color: rgb(218, 218, 218);
}

.containerFeatures{
    background-color: var(--noir);
    padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

#container {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.cards-1:hover {
    transform: translateY(-20px);
}

.cards-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    background-image: radial-gradient(var(--gris), var(--noir) 70%);
    width: 400px;
    height: 350px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.5s;
  
}

.cards-1 i {
    padding-top: 50px;
    height: 100px;
    color: white;
    font-size: 40px;
}

.cards-1 h2 {
    font-family: var(--font);
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    
}

.cards-1 p {
    font-family: var(--font);
    font-size: 17px;
    color: white;
    font-weight: 300;
}

.cards-1-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
}


 /*=================================================================
========================= MEMBERS ================================
=================================================================
 */


 #team {
    min-height: 71vh;
    padding-top: 30px;
    background-image: url("../img/parallax2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
 }

 #team h1 {
    font-family: var(--font);
    text-align: center;
    justify-content: justify;
    padding-bottom: 20px;
    color: white;

 }

 .titre-team {
    font-family: var(--font);
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 300;
    padding-bottom: 50px;
 }

.equipe {
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    text-align: center; 
    font-family: var(--font);
}

.cards-2 p {
    padding-bottom: 30px;
    opacity: 0.7;
}


.cards-2 strong {
    font-size: 20px;
    opacity: 1;
}

.cards-2 h2 {
    font-size: 17px;
    font-weight: 500;
   
}

.cards-2-header{
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
   
}

.cards-2-header img {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
}

.cards-2:hover .cards-2-header img {
    transform: scale(1.1);
}

.cards-2-header img:hover {
    filter: grayscale(0);
}


.cards-2-header i {
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    margin: 5px;
    padding: 15px 25px 10px 10px;
    background-color: white;
    padding-bottom: 20px;
   border-radius: 50%;
}


.cards-2-header a {
    text-decoration: none;
    color: black;
}


 /*=================================================================
========================= RESPONSIVE MAIN ================================
=================================================================
 */
@media only screen and (max-width: 768px) {


    #openBtn{
        display: table-header-group;
        margin-left: 5vw;
        margin-right: 9vw;
        margin-top: 13px;
        position: relative;
        z-index: 2; /* Pour le garder au-dessus du sidenav */
        color: var(--blanc);
    }

    .sidenav{
        display: block;
        height: 100%;
        width: 150px;
        position: fixed;
        z-index: 1;
        top: 0PX;
        left: -250px;
        background-color: rgba(61, 10, 1,0.8);
        margin-top: 60px;
        transition: left 0.5s ease;
    }

    .logoNav{
        margin-left: AUTO;
        margin-right: AUTO;
    }


    .sidenav li{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20PX;
        list-style-type: none
    }

    .sidenav.active{
        left: 0;
    }

    .sidenav .close{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        margin: 6px 0;
    }

    #myLinks{
        display: none;
    }

    .citation{
        font-size: clamp(20px, 100% + 1.7vw, 40rem);
    }

    .services {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .link1-4 {
        width: 100%;
        aspect-ratio: 16 / 6; /* Par exemple, pour un ratio 16:9 */
        overflow: hidden;
        position: relative;
    }

    .img1-4 {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Assure que l'image couvre bien le conteneur sans déformation */
    }

    .plus1, .plus2, .plus3, .plus4 {
        position: absolute;
        width: 20vw;
        left: 40%;
        top: 8vw;
    }

    .map{
        height: 100vw;
    }
 
    
/*=================================================================
========================= RESPONSIVE A PROPOS ================================
=================================================================
 */
}

@media screen and (max-width: 1259px) {

    .equipe {
        flex-direction: column;
        align-items: center;
    }

    .cards-2 {
        margin-top: 30px;
    }
    
    #container {
        flex-direction: column;
    }

}

/*=================================================================
========================= PAGE CONTACT ================================
=================================================================
 */
textarea{
    resize: none;
}

.wrapperContact {
    font-family: var(--font);
    background-color: #2c2c2c;
    color: #e0e0e0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.wrapperContact h1 {
    padding-top: 5px;
    font-size: 2.5em;
    color: #e6e6e6;
    text-align: center;
}

/* Conteneur du formulaire */
.wrapperContact form {
    background-color: #1e1e1e;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    max-width: 700px;
    width: 100%;
}

/* Labels */
.wrapperContact label {
    font-size: 1.1em;
    color: #f2f2f2;
    display: block;
    margin-bottom: 8px;
}

/* Champs de saisie */
.wrapperContact input[type="text"], 
.wrapperContact input[type="email"], 
.wrapperContact textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #414141;
    color: #f2f2f2;
    font-size: 1em;
    box-sizing: border-box;
}

/* Focus sur les champs */
.wrapperContact input[type="text"]:focus, 
.wrapperContact input[type="email"]:focus,
.wrapperContact textarea:focus {
    border-color: #d8d8d8;
    outline: none;
}

/* Bouton de soumission */
.wrapperContact input[type="submit"] {
    background-color: var(--noir);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.wrapperContact input[type="submit"]:hover {
    background-color: var(--gris);
}

/* Service view */

.prestations-container {
    font-family: var(--font);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.categorie {
    margin-bottom: 30px;
}

.prestation {

    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 10px;
}

.details-prestation h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
}

.details-prestation p {
    margin: 5px 0;
    color: #555;
}

.actions-prestation button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.actions-prestation button:hover {
    background-color: #333;
}

/* PANIER HEADER */
.header-cart-toggle {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
    z-index: 1000;
}

.header-cart-toggle i{
    color: var(--blanc);
}

.header-cart-toggle i:hover{
    color: var(--or);
}

#cartContainer {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--blanc);
    border: 1px solid #ccc;
    width: 100%;
    z-index: 100;
    padding: 20px;
    display: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#cartContainer h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.cart-summary {
    margin-top: 10px;
}

.btn-gerer-panier {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: var(--crimson);
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.cart-count {
    background-color: rgb(253, 67, 67);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -8px;
}

#toggleCartBtn {
    background: none; 
    border: none; 
    cursor: pointer;
    font-size: 1em; 
    padding: 0; 
}

/* FOOTER */

.container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .text-white {
    color: var(--blanc);
  }
  
  .text-center {
    text-align: center;
    padding-bottom: 0.6rem;
  }
  
  .mt-4 {
    margin: 0;
    margin-top: 1.5rem;
  }
  
  .bg-footer {
    background-image: url(../img/fond.png);
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    bottom: 0;
  }
  
  .footer-heading {
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
  }
  
  .footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    list-style: none;
  
    a {
      color: #acacac;
      line-height: 40px;
      font-size: 16px;
      transition: all 0.2s;
      text-underline-offset: 4px;
      text-decoration-thickness: 2px;
  
      &:hover {
        color: var(--or);
      }
    }
  }
  
  .list-inline {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .list-inline-item {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  
    display: inline-block;
  }
  
  .contact-info {
    color: #acacac;
    font-size: 16px;
    margin-top: 20px
  }
  
  .footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    padding-top: 9px;
    margin-top: 20px
  }
  
  .facebook {
    transition: transform 1s ease 0s;
    background-color: #4e71a8;
    color: #ffffff;
  }
  
  .twitter {
    transition: transform 1s ease 0s;
    background-color: #55acee;
    color: #ffffff;
  }
  
  .instagram {
    transition: transform 1s ease 0s;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #ffffff;
  }

  footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
  
  /* HOVER */
  
  .facebook:hover, .twitter:hover, .instagram:hover {
    transform: rotate(360deg);
  }
  
  .footer-alt {
    color: #acacac;
  }
  
  .footer-heading {
    position: relative;
    padding-bottom: 12px;
  
    &:after {
      content: '';
      width: 25px;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      display: block;
      border-bottom: 3px solid #E0952E;
    }
  }



/*A PROPOS MAIN PAGE*/

.box-about-us {
	transform: translateX(100%);
	transition: transform 0.6s ease;
}

.box-about-us:nth-of-type(even) {
	transform: translateX(-100%);
}

.box-about-us.show {
	transform: translateX(0);

}

.about-us {
    display: flex;
    background-color: var(--blanc);
    scroll-snap-align: start;
}

.about-us-content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    box-sizing: border-box;
}

.about-us-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--bordeau);
}

.sub-heading {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: var(--or);
}

.about-us-paragraph {
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 2rem;
}

.about-us-btn {
    width: 10rem;
    padding: .5rem .3rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--or);
    background-color: transparent;
    border: .1rem solid var(--or);
    outline: none;
    cursor: pointer;
}

.btn-arrow {
    margin-left: .5rem;
    transition: margin-left .4s;
}

.about-us-btn:hover .btn-arrow {
    margin-left: 1rem;
}

.about-us-images {
    flex: 1;
    position: relative;
    margin: auto;
}

.image {
    width: 22rem;
    position: absolute;
    top: 40%;
    left: 40%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .4);
    border-radius: .3rem;
    border: .2rem solid var(--or);
}

.image-1 {
    transform: translate(-20%, -90%);
}

.image-2 {
    transform: translate(-70%, -70%);
}

.image-3 {
    transform: translate(-50%, -50%);
}

.image-4 {
    transform: translate(-30%, -30%);
}

@media screen and (max-width: 1422px) {
    .about-us-images {
      display: none;
    }

    .about-us-content {
        flex: 100%;
        padding : 50px;
        overflow: hidden
    }

  }

/* slider */

    .slider {
    height: 90vh;
    position: relative;
    }

    .slider img {
    object-fit: cover; 
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    }

    .slider img.active {
        opacity: 1;
        }

    .suivant, .precedent {
        color: #fff;
        font-size: 3rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .suivant {
    right: 1rem;
    }

    .precedent{
    left: 1rem;
    }