 /*=================================================================
========================= VARIABLES ================================
=================================================================
 */
 :root {
    --marron : #3F362E;
    --brun : #523c2a;
    --beige : #E1BB97;
    --bcreme : #FEF2E7;
    --rufina : "Rufina", serif;;
    --oxygen : "Oxygen", sans-serif;
}
 /*=================================================================
========================= GENERAL ================================
=================================================================
 */
*{  margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body{

}

a {text-decoration: none;}

table{
    font-family: var(--oxygen);
    width: 90%;
    margin: auto;
}

textarea{
    resize: none;
}


h1 {
    font-family: var(--rufina);
    border-bottom: solid 2px var(--beige);
    padding: 6px;
    text-align: center;
}

th{
    padding: 5px;
    text-align: start;
}

td{
    padding: 5px;
    vertical-align: middle;
}


 /*=================================================================
========================= HEADER ================================
=================================================================
 */

#openBtn{
    display: none;
}

.sidenav{
    display: none;
}
                
header {
    z-index: 5;
    display: flex;
    background-color: var(--marron);
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
}

header button {
    background: none; 
    border: none; 
    cursor: pointer;
    font-size: 1em; 
    margin-top: 4px; 
    color: var(--bcreme);
}

header button:hover{
    color: var(--beige);
    transition: all 0.2s;
}

header li{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--bcreme);
    padding: 10px;
    text-align: center;
    list-style-type: none
}

.logoNav{
    margin-left: 25px;
    margin-top: 15px;
}

.logoNav img{
    height: 30px;
}

nav{
    margin-top: 15px;
    margin: auto;
}

nav a{
    margin-right: 15px;
    margin-left: 15px;
    transition: all 0.2s;
}

header a{
    font-family: var(--oxygen);
    color: var(--bcreme);
}

header a:hover{
    color: var(--beige);
    transition: all 0.2s;
}

.user{
    margin-top: 20px;
    margin-right: 20px; 
    z-index: 1001;
}

.user-menu {
    display: block;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1000;
    top: 0px;
    right: -300px;
    background-color: var(--marron);
    margin-top: 60px;
    transition: right 0.5s ease;
    overflow-y: auto;
}

.user-menu.active {
    right: 0;
}


/* PANIER HEADER */
.header-cart-toggle {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
    z-index: 1001;
}


#cartContainer {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 100%;
    z-index: 1000;
    display: none;
    
}

.cart-container {
    font-family: var(--oxygen);
    padding: 20px;
}

.identite-article {
    display: flex;
}

.nom-article{
    padding-top:40px;
    padding-left: 5px
}

.cart-container h2 {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom:solid 1px var(--brun) ;
}

.action-panier {
 color: var(--brun);
 font-weight: bold; 
}

.cart-summary {
    margin-top: 10px;
}

.cart-summary p{
    padding : 20px
}

.valider-panier{
    margin-top: 10px;
    background-color: var(--brun);
    color: var(--bcreme);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.vider-panier{
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    color: var(--brun);
    border: solid 2px var(--brun);
    background-color: white;
}

.btn-gerer-panier {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: var(--marron);
    color: var(--bcreme);
    text-decoration: none;
    margin-top: 10px;
}

.btn-gerer-panier:hover {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: var(--marron);
    color: var(--bcreme);
    text-decoration: none;
    margin-top: 10px;
}

.cart-count {
    background-color: rgb(253, 67, 67);
    color: var(--blanc);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -8px;
}

.cart-container img{
    height: auto;
    width: 100px;
}

 /*=========================MAIN PAGE========================================
========================= HOME ================================
=================================================================
 */


 /*=================================================================
========================= CONTACT ================================
=================================================================
 */

.contact{
    color:var(--blanc);
    background-image: url("../img/parallax2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;
    padding-top: 6%;
    padding-bottom: 7%;
}

.contact p{
    margin-top: 0.5%;
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    
}

.contact h1{
    font-weight: 400;
    font-size: 4vw;
    text-align: center;
    width: 50%;
    margin: auto;
}

.logos {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.logos-contact {
    display: flex;
    font-size: 20px;
    height: 50px;
    width: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px var(--bcreme) solid;
    border-radius: 50%;
}

.logos-contact a {
    color: var(--bcreme);
    display: flex;
    text-decoration: none;
    align-items: center;
}


 /*=================================================================
========================= MAP ================================
=================================================================
 */


.map{
    overflow:hidden;
    position:relative;
    height: 50vw;
}


.map iframe{
    filter: grayscale(0.7) invert();
    height:100%;
    width:100%;
    position:absolute;
}



/* 
=============================VIEW A PROPOS====================================
========================= FEATURES ================================
=================================================================
 */


.features {
    padding-bottom: 40px;
    background-color: var(--bcreme);
 }

.features h1 {
    font-family: var(--rufina);
    font-weight: 300;
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    text-align: justify;
    color: var(--brun);
    font-size: 3rem;
    display: flex;
    width:90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    justify-content: center;
}

.sous-titre {
    font-family: var(--oxygen);
    font-weight: 300;
    justify-content: center;
    text-align: center;
    color: var(--brun);
}

.containerFeatures{
    background-color: var(--crimson);
    padding-top: 40px;
}

#container {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.cards-1:hover {
    transform: translateY(-20px);
}

.cards-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    background-color: var(--marron);
    width: 400px;
    height: 350px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.5s;
  
}

.cards-1 i {
    padding-top: 50px;
    height: 100px;
    color: var(--bcreme);
    font-size: 40px;
}

.cards-1 h2 {
    font-family: var(--oxygen);
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    color: var(--bcreme);
    
}

.cards-1 p {
    font-family: var(--oxygen);
    font-size: 17px;
    color: var(--bcreme);
    font-weight: 300;
}

.cards-1-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
}


 /*=================================================================
========================= MEMBERS ================================
=================================================================
 */


 #team {
    min-height: 71vh;
    padding-top: 30px;
    background-image: url("../img/parallax2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
 }

 #team h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: var(--rufina);
    text-align: center;
    justify-content: justify;
    padding-bottom: 20px;
    color: var(--bcreme);
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
 }

 .titre-team {
    padding-top: 30px;
    font-family: var(--oxygen);
    justify-content: center;
    text-align: center;
    color: var(--bcreme);
    font-weight: 300;
    padding-bottom: 50px;
 }

.equipe {
    color: var(--bcreme);
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    text-align: center; 
    font-family: var(--oxygen);
}

.cards-2 p {
    padding-bottom: 30px;
    opacity: 0.7;
}


.cards-2 strong {
    font-size: 20px;
    opacity: 1;
}

.cards-2 h2 {
    font-size: 17px;
    font-weight: 500;
   
}

.cards-2-header{
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
   
}

.cards-2-header img {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
}

.cards-2:hover .cards-2-header img {
    transform: scale(1.1);
}

.cards-2-header img:hover {
    filter: grayscale(0);
}


 /*=================================================================
========================= RESPONSIVE ================================
=================================================================
 */
@media only screen and (max-width: 768px) {


    #openBtn{
        display: table-header-group;
        margin-left: 5vw;
        margin-right: 9vw;
        position: relative;
        z-index: 1001; /* Pour le garder au-dessus du sidenav */
    }

    .sidenav{
        display: block;
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1000;
        top: 0PX;
        left: -250px;
        background-color: var(--marron);
        margin-top: 60px;
        transition: left 0.5s ease;
    }

    .logoNav{
        margin-left: AUTO;
        margin-right: AUTO;
    }

    .sidenav.active{
        left: 0;
    }

    .sidenav .close{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    #myLinks{
        display: none;
    }


    .map{
        height: 100vw;
    }

    .categories-admin{
        flex-direction: column;
    }

    .image-article-panier{
        display: none;
    }

    .product-detail-container{
        flex-direction: column;
    }
 
    .product-image{
        margin: auto;
    }

    .product-info{
        margin: 10px;
    }

    .nom-article{
        padding: 0;
    }
    
/*=================================================================
========================= RESPONSIVE A PROPOS ================================
=================================================================
 */
}

@media screen and (max-width: 1259px) {

    .equipe {
        flex-direction: column;
        align-items: center;
    }

    .cards-2 {
        margin-top: 30px;
    }
    
    #container {
        flex-direction: column;
    }

}

/*=================================================================
========================= PAGE CONTACT ================================
=================================================================
 */

.wrapperContact {
    font-family: var(--oxygen);
    background-color: var(--bcreme);
    color: #e0e0e0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 50px;
}

/* Conteneur du formulaire */
.wrapperContact form {
    background-color: var(--marron);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    max-width: 700px;
    width: 100%;
}

/* Labels */
.wrapperContact label {
    font-size: 1.1em;
    color: var(--bcreme);
    display: block;
    margin-bottom: 8px;
}

/* Champs de saisie */
.wrapperContact input[type="text"], 
.wrapperContact input[type="email"], 
.wrapperContact textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid var(--marron);
    border-radius: 4px;
    background-color: var(--bcreme);
    color: var(--marron);
    font-size: 1em;
    box-sizing: border-box;
    font-family: var(--oxygen);
}

/* Focus sur les champs */
.wrapperContact input[type="text"]:focus, 
.wrapperContact input[type="email"]:focus,
.wrapperContact textarea:focus {
    border-color: var(--brun);
    outline: none;
}

/* Bouton de soumission */
.wrapperContact input[type="submit"] {
    background-color: var(--brun);
    color: var(--bcreme);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

/* Service view */
.presta-titre {
    padding-top: 30px;
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    color: var(--marron);
}

.categorie{
    margin-top: 20px;
}

.categorie h2{
    font-family: var(--oxygen);
    padding-bottom: 20px;
    display: flex;
    margin: auto;
    justify-content: center;
    color: var(--marron);
}

.prestations-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    width: 95%;
}


.prestation{
    position: relative;
    font-family: var(--oxygen);
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--bcreme);
    border-radius: 8px;
    margin-bottom: 10px;
    justify-content:space-between;
}

.date-form form{
    display: flex;
    flex-direction: column;
}

.details-prestation h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
}

.details-prestation p {
    margin: 5px 0;
    color: #555;
}

.date-form button {
    background-color: var(--brun);
    color: var(--bcreme);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.admin-buttons-presta{
    position: absolute;
    right: -2rem;
    top: 20%;
}

.admin-buttons-presta button{
    background-color: white;
    margin: 8px;
    border: none;
    cursor: pointer;
}


/* FOOTER */

.container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .text-white {
    color: var(--bcreme);
  }
  
  .text-center {
    text-align: center;
    padding-bottom: 0.6rem;
  }
  
  .mt-4 {
    margin: 0;
    margin-top: 1.5rem;
  }
  
  .bg-footer {
    background-color: var(--marron);
    font-family: var(--oxygen);
    width: 100%;
    bottom: 0;
  }
  
  .footer-heading {
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
  }
  
  .footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    list-style: none;
  
    a {
      color: var(--bcreme);
      line-height: 40px;
      font-size: 16px;
      transition: all 0.2s;
      text-underline-offset: 4px;
      text-decoration-thickness: 2px;
  
      &:hover {
        color: var(--beige);
      }
    }
  }
  
  .list-inline {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .list-inline-item {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  
    display: inline-block;
  }
  
  .contact-info {
    color: var(--bcreme);
    font-size: 16px;
    margin-top: 20px
  }
  
  .footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    padding-top: 9px;
    margin-top: 20px
  }
  
  .facebook {
    transition: transform 1s ease 0s;
    background-color: #4e71a8;
    color: #ffffff;
  }
  
  .twitter {
    transition: transform 1s ease 0s;
    background-color: #55acee;
    color: #ffffff;
  }
  
  .instagram {
    transition: transform 1s ease 0s;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #ffffff;
  }

  footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
  
  /* HOVER */
  
  .facebook:hover, .twitter:hover, .instagram:hover {
    transform: rotate(360deg);
  }
  
  .footer-alt {
    color: #acacac;
  }
  
  .footer-heading {
    position: relative;
    padding-bottom: 12px;
  
    &:after {
      content: '';
      width: 25px;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      display: block;
      border-bottom: 3px solid var(--beige)
    }
  }


/* banner */

    .banner {
    height: 55vW;
    position: relative;
    z-index: 1;
    justify-content: center;
    }

    .img-logo {
    object-fit: cover; 
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    }

    .logo{
        font-size: 6vw;
        position: absolute;
        top: 50%;
        left: 15vw;
        transform: translateY(-50%);
        color: var(--beige);
    }




    .titre-admin {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        color: var(--marron);
    }

    .ajouter-produit h2 {
        color: var(--brun);
        font-size: 24px;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--beige);
        padding-bottom: 5px;
    }

    .ajouter-prestation h2 {
        color: var(--brun);
        font-size: 24px;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--beige);
        padding-bottom: 5px;
    }

    .gestion-rdv h2 {
        color: var(--brun);
        font-size: 24px;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--beige);
        padding-bottom: 5px;
    }
    
    .gestion-rdv {
        padding-top: 20px;
        margin-bottom: 40px;
        margin: auto;
        max-width: 90%;
    }
    
    .categories-admin {
        justify-content: center;
        display: flex;
        gap: 7vw;
        font-family: var(--oxygen);
    }
    
    .categorie-admin h2 {
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .categorie-admin label {
        display: block;
        margin-bottom: 5px;
        margin: 10px;
    }

    #prestation-form{
        font-family: var(--oxygen);
        width: 70%;
        margin: auto;
        margin-bottom: 40px;
    }
    
    .ajouter-prestation {
        margin-bottom: 40px;
        margin: auto;
        max-width: 90%;
    }
    
    .ajouter-prestation h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #produit-form{
        font-family: var(--oxygen);
        width: 70%;
        margin: auto;
        margin-bottom: 40px;
    }

    .ajouter-produit {
        margin: auto;
        max-width: 90%;
    }

    .ajouter-produit h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    .form-group label {
        display: block;
        margin-bottom: 5px;
    }
    
    .form-group input,
    .form-group select,
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 0px solid;
        background-color: #e0dfdf;
        margin: auto
    }
    
    .presta-form{
        justify-content: center;
    }
    
    .submit-btn {
        background-color: var(--brun);
        color: var(--bcreme);
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 7px;
        margin-bottom: 20px;
    }

    .toggle-btn{
        cursor: pointer;
    }

    .voir-commandes{
        max-width: 90%;
        margin-bottom: 20px;
        margin: auto;
    }

    .voir-commandes a{
        font-weight: 100;
        padding: 10px;
        color: var(--bcreme);
        border-radius: 7px;
        background-color: var(--brun);
    }

    .voir-commandes h2{
        margin-top: 40px;
        margin-bottom: 40px;
        border: solid 0px;
        font-size: large;
    }

/*=================================================================
========================= FORMULAIRE DE CONNEXION ==================
=================================================================
*/

.connexion-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: var(--bcreme);
    padding: 20px;
    border-radius: 8px;
}

.connexion-container h1 {
    color: var(--marron);
    text-align: center;
    margin-bottom: 20px;
}

.connexion-container form {
    display: flex;
    flex-direction: column;
}

.connexion-container label {
    font-family: var(--oxygen);
    color: var(--marron);
    
}

.connexion-container input[type="email"],
.connexion-container input[type="password"] {
    padding: 10px;
    border: 0px ;
    border-radius: 5px;
    font-family: var(--oxygen);
    font-size: 14px;
}

.connexion-container input[type="submit"] {
    background-color: var(--brun);
    color: var(--bcreme);
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--oxygen);
    font-size: 16px;
    transition: background-color 0.3s;
}

.connexion-container p {
    text-align: center;
    font-family: var(--oxygen);
    margin-top: 15px;
}

.connexion-container p a {
    color: var(--marron);
    font-weight: bold;
    transition: color 0.3s;
}

.connexion-container p a:hover {
    color: var(--beige);
}

/*=================================================================
========================= FORMULAIRE D'INSCRIPTION =================
=================================================================
*/

.inscription-container {
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
    background-color: var(--bcreme);
    padding: 20px;
    border-radius: 8px;
}

.inscription-container h1 {
    color: var(--marron);
    text-align: center;
    margin-bottom: 20px;
}

.inscription-container form {
    display: flex;
    flex-direction: column;
}

.inscription-container label {
    font-family: var(--oxygen);
    color: var(--brun);

}

.inscription-container input[type="email"],
.inscription-container input[type="password"],
.inscription-container input[type="text"] {
    padding: 10px;

    border: 0px ;
    border-radius: 5px;
    background-color: #fff;
    font-family: var(--oxygen);
    font-size: 14px;
    color: var(--marron);
}

.inscription-container input[type="checkbox"] {
    margin-right: 10px;
}

.inscription-container small {
    font-size: 15px;
    color: var(--marron);
}

.inscription-container input[type="submit"] {
    background-color: var(--brun);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--oxygen);
    font-size: 16px;
    transition: background-color 0.3s;
}


.inscription-container p {
    text-align: center;
    font-family: var(--oxygen);
    margin-top: 15px;
}

.inscription-container p a {
    color: var(--marron);
    font-weight: bold;
    transition: color 0.3s;
}

.inscription-container p a:hover {
    color: var(--beige);
}

.titre-articles-categorie {
    color: var(--marron);
    margin-bottom: 30px;
    padding-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.produits-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
}

.produit {
    transition: transform 0.3s;
    width: 30%;
    min-width: 200px;
}

.produit a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 15px;
}

.produit:hover {
    transform: translateY(-5px);
}

.produit-image img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produit-details h3 {
    font-size: 18px;
    margin: 10px 0;
    color: var(--marron);
    text-align: center;
}

.produit-details p {
    font-size: 16px;
    color: var(--brun);
    text-align: center;
    margin: 5px 0;
}

.titre-categories{
    color: var(--marron);
    margin-bottom: 30px;
    padding-top: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.categories-articles {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    gap: 40px;
}

.link-categorie{
    background-color: black;
    position: relative;
    overflow:hidden;
    width: 100%;
    aspect-ratio: 16 / 6; /* Par exemple, pour un ratio 16:9 */
    max-height: 400px;
    border-radius: 9px;
}

.img-categorie{
    transition: 0.5s ease;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.link-categorie:hover .img-categorie{
    transform: scale(1.1);
    opacity: 0.5;
}

.link-categorie:hover .categorie-absolute{
    transform: scale(0.9);
}

.categorie-absolute {
    transition: all 0.5s;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    top: 29%;
    color: var(--beige);
    font-size: 4VW;
    border-bottom: 1px solid var(--beige);
    z-index: 2;
}






.product-detail-container {
    padding-top:13vw;
    padding-bottom:13vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    gap: 40px;
    font-family: var(--oxygen);
}

.product-image img {
    max-width: 100%;
    border-radius: 8px;
}


.product-info {
    flex: 1;
}

.product-info h1{
    border: none;
}

.product-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: var(--brun);
    border-bottom: 1px solid #e1bb97;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.edit-icons{
    display: flex;
    gap: 10px;
}

.edit-icons button {
    background-color: white;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}


.product-price {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.product-purchase {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}


.product-purchase input[type="number"] {
    padding: 5px;
    margin-right: 20px;
    border: 1px solid ;
    border-radius: 7px 0 0 7px;
    background-color: #fff;
    width:60px;
    height: 40px;
}

.add-to-cart {
    background-color: var(--brun);
    color: var(--bcreme);
    padding: 13px 20px;
    border: none;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: var(--marron);
}

.product-description h3 {
    font-size: 18px;
    color: var(--brun);
    margin-bottom: 10px;
    border-bottom: 1px solid #e1bb97;
    padding-bottom: 5px;
}

.product-description p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}





.titre-user {
    color: var(--marron);
    margin-bottom: 30px;
    padding-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
 }




 .titre-modification {
    color: var(--marron);
    margin-bottom: 30px;
    padding-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
 }

 .modifier-produit {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid var(--beige);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modifier-produit label {
    font-family: var(--oxygen), sans-serif;
    color: var(--brun);
    display: block;
}

.modifier-produit input[type="text"],
.modifier-produit input[type="number"],
.modifier-produit select,
.modifier-produit textarea,
.modifier-produit input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 0 0 20px;
    border: 1px solid var(--beige);
    border-radius: 4px;
    background-color: #fff;
    font-family: var(--oxygen), sans-serif;
    font-size: 14px;
    color: var(--marron);
}

.modifier-produit textarea {
    resize: none;
    height: 100px;

}

.modifier-produit button[type="submit"] {
    background-color: var(--marron);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--oxygen), sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

.modifier-produit button[type="submit"]:hover {
    background-color: var(--brun);
}




.modifier-presta {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid var(--beige);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modifier-presta label {
    font-family: var(--oxygen), sans-serif;
    color: var(--brun);
    display: block;
}

.modifier-presta input[type="text"],
.modifier-presta input[type="number"],
.modifier-presta select,
.modifier-presta textarea {
    width: 100%;
    padding: 10px;
    margin: 0 0 20px;
    border: 1px solid var(--beige);
    border-radius: 4px;
    background-color: #fff;
    font-family: var(--oxygen), sans-serif;
    font-size: 14px;
    color: var(--marron);
}

.modifier-presta textarea {
    resize: none;
    height: 100px;

}

.modifier-presta button[type="submit"] {
    background-color: var(--marron);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--oxygen), sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

.modifier-presta button[type="submit"]:hover {
    background-color: var(--brun);
}


.titre-creneau {
    color: var(--marron);
    margin-bottom: 30px;
    padding-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
 }


.form-reservation {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid var(--beige);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-reservation label {
    font-family: var(--oxygen), sans-serif;
    color: var(--brun);
    margin-bottom: 5px;
    display: block;
}

.form-reservation input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid var(--beige);
    border-radius: 4px;
    font-family: var(--oxygen), sans-serif;
    font-size: 14px;
    color: var(--marron);
}

.boutons-creneau-horaire {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.boutons-creneau-horaire button {
    background-color: var(--marron);
    color: var(--bcreme);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--oxygen), sans-serif;
    font-size: 14px;
    transition: background-color 0.3s;
}

.boutons-creneau-horaire button:hover {
    background-color: var(--brun);
}





.section-commandes, .section-rendezvous {
    margin: 30px auto;
    max-width: 800px;
}

.section-commandes h2, .section-rendezvous h2 {
    font-family: var(--rufina), serif;
    color: var(--marron);
    border-bottom: 2px solid var(--beige);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.details-link {
    color: var(--marron);
    cursor: pointer;
    font-weight: bold;
}

.details-text {

    color: var(--marron);
}

.table-rendezvous button{
    border-radius: 3px;
    background-color: #c0392b;
    cursor: pointer;
    color: var(--bcreme);
    padding: 10px;
    border: none;
}

.table-rendezvous button:hover {
    background-color: #c0392b;
}





.titre-calendrier{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.calendrier-container {
    margin: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--oxygen);
}

.jour-section {
    margin-bottom: 20px;
}

.jour-section h3 {
    padding: 10px;
    font-size: 25px;
    font-family: var(--oxygen);
}

.liste-rendez-vous {
    list-style-type: none;
    padding: 0;
}

.liste-rendez-vous li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liste-rendez-vous button {
    background-color: #e74c3c;
    color: var(--bcreme);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.liste-rendez-vous button:hover {
    background-color: #c0392b;
}



.titre-commande-admin{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.commande-admin button{
    background-color: #e74c3c;
    color: var(--bcreme);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.commande-admin button:hover {
    background-color: #c0392b;
}

.commande-container {
    margin: 20px;
}

.jour-section {
    margin-bottom: 20px;
}

.commande-admin {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.commande-admin th, .commande-admin td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}