/* RENOMMER LES VARIABLES */

/* VARIABLES */
:root {
    --beige : #d8bc80;
    --font : "Oswald", sans-serif;
    --gris : #797979;
}
                                /* GENERAL */
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}

html{
    font-size: 20px;
}

a{  color: rgb(235, 235, 235);
    text-decoration: none;
    font-family: var(--font);
    font-weight: 100;
}
                                /* HEADER */

#openBtn{
    display: none;
}

.sidenav{
    display: none;
}
                
header {
    z-index: 2;
    display: flex;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0;
    position: sticky;
}

.logoNav{
    margin-left: 15px;
    margin-top: 20px;
    object-fit: cover;
    height: 50%;
}

nav{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size:  25PX;
}

nav a{
    margin-right: 20px;
    margin-left: 20px;
    color: #0e0e0e;
}

.user{
    margin-top: 25px;
    text-align: center;
    
    width: 20%;
}


                    /* MAIN */
                /* SECTION LOGO */

.fond1 {
    max-width: 100%;
    height: auto;
  }


.citation{
    color: white;
    background-color: var(--beige);
    font-family: var(--font);
    font-weight: 300;
    text-align: center;
    font-size: 50PX;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
}

                    /* SECTION TRADITION 1 */
.tradition1{
    display: flex;
}
.boxLeftTop{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8vw;
    text-align: center;
    max-width: 40%;
}

.boxLeftTop h1{
    font-family: var(--font);
    font-weight: 400;
    font-size: 5vw;
}

.boxLeftTop h2{
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
}

.boxLeftTop p{
    margin-top: 4%;
    font-weight: 300;
    color: var(--gris);
    font-family: var(--font);
    font-size: clamp(0.5rem, 30% + 1.7vw, 20rem);
}

.boxLeftTop a{
    display: inline-block;
    margin-top: 3vw;
    background-color: var(--beige);
    padding: 2% 4% 2% 4%;
    font-size: clamp(0.5rem, 30% + 1.7vw, 20rem);
    border-radius: 10px;
    transition:.3s;
}

.boxLeftTop a:hover{
    background-color: #a08253;
}

.logoBeerTradition{
    display: flex;
    width: 50%;
    height: 50%;
}

                        /* SECTION TRADITION 2 */
.tradition2{
    display: flex;
}
.boxRightBot{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8vw;
    text-align: center;
    max-width: 40%;
}

.boxRightBot h1{
    font-family: var(--font);
    font-weight: 400;
    font-size: 5vw;
    
}

.boxRightBot h2{
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
}

.boxRightBot p{
    margin-top: 4%;
    vertical-align: center;
    color: var(--gris);
    font-family: var(--font);
    font-size: clamp(1rem, 30% + 1.7vw, 20rem);
    font-weight: 300;
}

.boxRightBot a{
    transition:.3s;
    display: inline-block;
    margin-top: 3vw;
    background-color: var(--beige);
    padding: 2% 4% 2% 4%;
    font-size: clamp(0.5rem, 30% + 1.7vw, 20rem);
    border-radius: 10px;
}

.boxRightBot a:hover{
    background-color: #749db1;
}

.logoPubStory{
    display: flex;
    width: 50%;
    height: 50%;
}